<div class="todo-title mb-3">
  <h1>New Todo</h1>
</div>
<form action="/" method="POST">
  <div class="input-group input-group-lg">
    <input
      type="text"
      class="form-control"
      id="newTodo"
      name="name"
      placeholder="Enetr New todo ..."
      aria-describedby="newTodo"
    />
  </div>
  <button type="submit" class="btn btn-success mt-3">Create</button>
</form>
<a href="/"><button class="btn btn-dark mt-3">Back</button></a>